h1,
h2,
h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 25px;
  font-weight: 900;
}

h3 {
  text-transform: capitalize;
}
.search {
  margin-top: 50px;
}

img {
  font-size: 100px;
  color: #f3c623;
  position: relative;
  top: -80px;
  left: 210px;
}
.temp {
  font-size: 80px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: -120px;
}
.units a {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  top: -48px;
  color: white;
}


.details {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 20px;
  margin-top: -95px;
}

.bar {
  background-color: rgba(220, 223, 238, 0.87);
  border-color: white;
}

.card-deck {
  margin-top: 10px;
  justify-content: center;
}
.card-text,
.card-header,
.card-title {
  color: white;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}

footer {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
}
.container {
  background-image: url("blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px 50px;
  max-width: 900px;
}
